extends ../layout

block content
  .container-fluid.body-content
    h2=user.alias
    img(class="profilePhoto" src="#{user.photo}")
    
    h2 See #{user.alias}'s posts
    each post in posts
      .tile
        a(href="/users/#{post.user_id}/posts/#{post.id}") 
          h2 #{post.title}
          